@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-image: url(photography-of-body-of-water-and-mountains-1544880.jpg); 
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;

    
}

   /* Style the container/contact section */
   .container {
    padding: 10px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    padding-bottom: 20px;
  }

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}


.name-title {
  font-size: 1.5rem;
  margin: .5rem;
  color: white;
  
  
}

.navbar-links ul{
  margin: 0;
  padding: 0;
  display: flex;
  
}

.navbar-links li {
  list-style-type: none;
}

.navbar-links li a{
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
  
}

.navbar-links li:hover {
  background: rgb(201,102,146);
  background: linear-gradient(45deg, 
  rgba(201,102,146,1) 0%, 
  rgba(228,175,205,1) 20%, 
  rgba(216,177,209,1) 36%, 
  rgba(185,182,220,1) 54%, 
  rgba(168,184,226,1) 78%, 
  rgba(148,187,233,1) 100%);

    overflow: hidden;
}

/* Handmade Hamburger */

.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  

}


/* Welcome */
.welcome h1{
  font-size: 70px;
  font-weight: 700;

}







/* Portfolio Button */
.portfolio-button, a {
  color: white;
  text-decoration: none;
  padding: 5px;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  

}

.portfolio-button {
  background: rgb(201,102,146);
  background: linear-gradient(45deg, 
  rgba(201,102,146,1) 0%, 
  rgba(228,175,205,1) 20%, 
  rgba(216,177,209,1) 36%, 
  rgba(185,182,220,1) 54%, 
  rgba(168,184,226,1) 78%, 
  rgba(148,187,233,1) 100%);
   
   width: 23%;
   border-radius: 10px;

    
}


/* Portfolio Section */

.caption {
  text-shadow: 2px 2px 4px #000000;
}

.caption a:hover {
color: palevioletred;

}

.caption h4{
  color: #ffffff;
  font-size: 20;
  font-weight: 600;

}

.caption p {
  font-size: 17px;
  color: #ffffff;
}

.languages img{
  width: 30%;
  height: auto;
}








 /* Style inputs */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  

  textarea {
    height: 150px;

  }
  input[type=submit] {
    background-color: grey;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: palevioletred;
  }

  
   /* Message Board */
  .column {
    float: center;
    width: 50%;
    


  }

  
  
  
  

  
  .footer {
    padding-bottom: 30px;
    
    
  }

  .icon {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  
  
  /*social media icon*/
  .fa {
    padding: 10px;
    font-size: 30px;
    width: 100%;
    height: auto;
    text-align: center;
    text-decoration: none;
    float: center;
    
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  .fa-google {
    background: #dd4b39;
    color: white;
    
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }

  .fa-github {
    background: #2c4762;
    color: white;
  }




/* Mobile sized devices including android screens*/

@media screen and ( max-width: 450px){

  .toggle-button {
    display: flex;
}

.navbar-links {
    display: none;
   width: 100%;
}

.navbar-links ul{
    flex-direction: column;
    width: 100%;
 }

 .navbar-links li {
     text-align: center;
 }

 .navbar-links li a{
    padding: .5rem 1rem;
}

.navbar-links.active {
    display: flex;
 }

.navbar {
    flex-direction: column;
    align-items: flex-start;
}


#home {
    padding-top: 15px;
    padding-bottom: 50px;
    color: white;

}

   .content-section {
        text-align: center;
        padding: 20px;
   }

   .welcome h1{
        font-size: 50px;
        font-weight: 700;
   }

   .welcome p {
    padding-bottom: 50px;
    padding-top: 5px;
   }

   img {
       width: 70%;
       height: auto;

   }


   /*Portfolio Button */
   .portfolio-button, a {
    color: white;
    text-decoration: none;
    align-items: center;
    
   
   }




   .column {
    width: 95%;
    margin-top: 0;
  }

  
  .input[type=submit] {
    width: 35%;
  }




}


/* Tablet sized devices */

@media screen and (min-width: 700px){
    

    .content-section {
        text-align: center;
        padding: 20px;
    
   }

   .welcome {
    padding-bottom: 50px;
   }

   .bio-section p {
       padding: 20px;
       
   }

   img {
    width: 60%;
    height: auto;
   }

   
   

    .column, form {
    
        width: 70%;
        margin-left: 90px;
    
      }

   
}










/* Desktop sized devices */
@media screen and (min-width: 900px){
    .navbar .responsive {position: relative;}
    .navbar .responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .navbar .responsive a {
        float: none;
        display: block;
        text-align: left;
        
    }

    .content-section {
        text-align: center;
        padding: 50px;
        font-size: 30px;
        padding-bottom: 100px;
        
   }

   

   img {
    width: 70%;
    height: auto;

   }
   .caption {
       padding: 20px;
   }

/* Create three equal columns that floats next to each other */
  .picture {
    float: left;
    width: 33.33%;
  }

    /* Clear floats after the columns */
    .picture:after {
        content: "";
        display: table;
        clear: both;
      }




          .column, form {
            width: 80%;
           padding-top: 20px;
            display: inline-block;
           align-items: center;
            
          }

          .column label {
            float: left;
            justify-content: space-between;
          }


          .column {
            display: flex;
            justify-content: center;
            
            

          }




}

